@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
.active {
  border-bottom: 2px solid greenyellow !important;
}
header {
  background-image: url("../img/avatar.jpg");
  background-size: cover;
  background-position: center top;
  margin: 0;
  padding: 0;
  height: 530px;
  font-family: 'Nunito', sans-serif;
  position: relative;
}
.art-container {
  max-width: 1000px;
  margin: auto;
}
article {
  margin-top: 80px;
  margin-bottom: 80px;
}
article .art-container p {
  font-size: 18px;
}
footer {
  margin: 30px 0 0 0;
  text-align: center;
  background-color: #515151;
  padding: 20px;
  color: #fff;
}
footer .art-container {
  text-align: right;
}
.obsada-pic {
  width: 120px;
  border-radius: 15px;
}
#obsada-table{
  margin: auto;
  max-width: 100%;
}
#obsada-table tr {
  text-align: center;
}
#obsada-table td {
  padding: 10px;
}
#obsada-table tr:nth-child(even) {
  background-color: #f2f2f294;
}
#obsada-table td,
#obsada-table th {
  border-bottom: tomato solid 3px;
  border-collapse: collapse;
}
.gallery-sub {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.gallery-item {
  padding: 5px;
}
.gallery-item-pic {
  width: 150px;
  border: 3px solid transparent;
  transition-duration: 0.2s;
}
.gallery-item-pic:hover {
  cursor: pointer;
  -moz-transform: scale(1.1) rotate(3deg);
  -webkit-transform: scale(1.1) rotate(3deg);
  -o-transform: scale(1.1) rotate(3deg);
  -ms-transform: scale(1.1) rotate(3deg);
  transform: scale(1.1) rotate(3deg);
  transition-duration: 0.2s;
}
.gallery-item-pic-active {
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  border: 3px solid tomato;
}
.gallery-main-pic img {
  height: 350px;
}
.gallery-main-pic {
  text-align: center;
}
.video-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.video-menu .video-item {
  padding: 5px;
}
.video-menu .video-item img {
  border: 3px solid transparent;
}
.video-menu .video-item img:hover {
  border: 3px solid tomato;
  transition-duration: 0.2s;
}
.video-menu .video-item .video-item-active {
  border: 3px solid tomato;
}
.video-main {
  text-align: center;
}
iframe{
  width: 560px !important;
  height: 315px !important;
}
.video-menu img {
  height: 120px;
}
.particles-js-canvas-el {
  position: absolute;
  top: 0;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.trans-bg {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px 30px 30px 30px;
  border-radius: 5px;
}
.recommended-list{
  font-size: 18px;
  color:lightskyblue;
}
.recommended-list li a{
  color: tomato;
  text-decoration: none;
}
.recommended-list li a:hover{
  text-decoration: underline;
}
.nav-brand{
  display: none;
}

@media only screen and (max-width: 1050px) {
  .art-container {
    padding: 0 30px 0 30px;
    text-align: justify;
  }
  .gallery-sub {
    justify-content: center;
  }
  iframe{
    max-width: 100% !important;
    max-height: 100% !important;;
  }
  .gallery-main-pic img {
    max-width: 100% !important;
    height: 250px;
  }
  .obsada-pic {
    max-width: 100%;
  }
}
