.uppercase {
  text-transform: uppercase;
}
.color-white {
  color: #fff;
}
.full-width {
  width: 100%;
}
.h-decoration {
  border-bottom: tomato solid 3px;
  text-align: center;
  padding: 0 0 8px 0;
}
.h-decoration-no-border {
  text-align: center;
  padding: 0 0 20px 0;
}
.hr-grey {
  width: 100%;
  height: 3px;
  background-color: rgba(88, 88, 88, 0.3);
}
